$main-text: #acabab;
$btn-color: #c19b76;
$btn-color2: #948685;
$white: #fff;
$brown: #a58669;
$second-color: #a89d9c;
$border: .1rem solid #c19b76;
$gray-border: .07rem solid #d9d9d9;
$secondary:#c19b76;
$gray: #f8f8f8;
$box-shadow: 1px 5px 14px -6px rgba(0,0,0,.31);
$letter-spacing:.12rem;
$blue: #19b1d1;
$dark: #1c1c1c;
$gray-color: #858585;
$footer-border:#575757;
$testimonials-color:#c19b76;
$header-background:#09355c;
$page-title:#f1f1f1;