footer{
    padding-top: 4rem;
    background-color: black;
    h5{
      margin-bottom: 2rem;
    }
    .contacts{
      p{
        color: $white;
      }
      span{
        color:#7a7a7a;
      }
    }
    .main-menu{
      &:nth-child(3), &:nth-child(4){
        @include media-breakpoint-down(md) { 
          display: none;
        }
      }
      ul{
        li{
          margin-bottom: .5rem;
            a{
            color: $btn-color;
            font-size: .8rem;
            &:hover{
              color:$white;
            }
          }
        }
      }
    }
    .col-12{
      padding: 1rem 0;
      margin-top:2rem;
      border-top:.01rem solid $footer-border;
    }
  }